@page "/weather"
@inherits WeatherComponent
@inject LayoutData LayoutData
@using MudBlazor
@using MudBlazor.Utilities
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Components.Widgets

 
 <div class="diagram-container">
<CascadingValue Value="BlazorDiagram">
    <DiagramCanvas>
        <Widgets>
            <NavigatorWidget Width="200"
                             Height="150"
                             Style="position: absolute; bottom: 15px; right: 15px; border: 1px solid black;">
            </NavigatorWidget>
            <SelectionBoxWidget/>
        </Widgets>
    </DiagramCanvas>
</CascadingValue>
 </div>

@code {
    private bool _zoomEnabled = true;
    private bool _panningEnabled = true;
    private bool _virtualizationEnabled = true;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        LayoutData.Title = "PUBG UGC Diagram";
        LayoutData.Info = "Device connection diagram using MudBlazor components.";
        LayoutData.DataChanged();
    }
}